/*VARIABLES*/

:root {
    --titleText: #0F8A24;
    --subTitle: #034B61;
    --fotText: #FFFFFF;
}


/*Globals*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*Reset for rems - 62-5 = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
    background: rgb(73, 155, 234);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0);
    /* IE6-9 */
}

img {
    max-width: 30%;
    border: 10px solid black;
}

h1 {
    font-size: 3.8rem;
    color: var(--fotText);
}

h2 {
    font-size: 2.5rem;
    color: #034B61;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    color: var(--fotText);
}

a {
    color: var(--fotText);
}

a:hover {
    color: black;
    transition: color .5s ease-in-out;
}

i {
    font-size: 3rem;
    padding-bottom: 2rem;
}

fieldset:last-child {
    margin-top: 2rem;
}

fieldset p {
    line-height: 2rem;
    text-align: justify;
}

legend {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
    color: var(--subTitle);
}


/*Personal data*/

.container {
    text-align: center;
}

.inf-personal {
    text-align: center;
}

.person h1 {
    margin-top: 1rem;
    color: var(--subTitle);
}

.person p {
    color: var(--fotText);
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.number p {
    color: var(--fotText);
}

.social a:last-child {
    margin-left: 5rem;
}

.list {
    list-style: none;
}

.list li {
    padding-top: 1rem;
    padding-right: 4rem;
    color: var(--fotText);
}


/* Scholar  */

.scholar h1,
.experience h1 {
    margin: 0;
    background-color: #419CB7;
    padding: 1rem;
    text-align: center;
}


/*Footer*/

.foot {
    margin: 0;
    background-color: #02352A;
    padding: 1rem;
    text-align: center;
}

.foot h2 {
    color: var(--fotText);
}


/*PWNED*/

.pwned {
    max-width: 100%;
}
